*.pyc
.idea/

.vs/
runs/
__pycache__/
output/
output**/
log/
nn/

#ignoring motion data in poselib except for configs
ase/poselib/data
!ase/poselib/data/configs
#ignoring motion data in database
ase/data/motions
#my backups
ase/data/models_backup